<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='ADMIN')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
    	<h4 th:text="#{header.menuAdmin}">Menu</h4>
		<div>
			<a th:href="@{/corso}">Elenco corsi</a>
   		</div>
   		<div>
			<a th:href="@{/lezione}">Elenco lezioni</a>
   		</div>
   		<div>
			<a th:href="@{/insegnante}">Elenco insegnanti</a>
   		</div>
   		<div>
			<a th:href="@{/admin/corso}">Inserisci dati corso</a>
   		</div>
   		<div>
			<a th:href="@{/admin/lezione}">Inserisci dati lezione</a>
   		</div>
   		<div>
			<a th:href="@{/admin/insegnante}">Inserisci dati insegnante</a>
   		</div>
   		<div>
			<a th:href="@{/admin/user}">Inserisci dati utente</a>
   		</div>
   		<div>
			<a th:href="@{/logout}">Logout</a>
   		</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>