<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{header.corsi})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
    	<h4 class="t1" >Lista di corsi</h4>
		<ul>
			<li class="t5" th:each="corso : ${corsi}">
				<a href="corsi.html" 
				   th:href="@{'/corso' + '/' + ${corso.id}}" 
				   th:text="|${corso.nome} ${corso.descrizione}|">Pilates Corso di pilates</a>
				   <br>
				    <div><div th:if="${session.role}=='ADMIN'">
    		<a class="btn" th:href="@{'/admin/corso' + '/' + ${corso.id}}">elimina</a></div>
    	  </div>
			</li>
		</ul>
	</div>
</body>
</html>