<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.corso})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
    	<h4  class="t1"></h4>
    	
    	<div class="t2" th:if="${corso}" th:object="${corso}">
			<span th:text="*{nome}">qui-va-nome</span>
			<span th:text="*{descrizione}">qui-va-cognome</span>
   		</div>
   		<!-- <ul>
               <li th:each="insegnante : ${corso.insegnanti}">
                <a href="insegnante.html" 
                   th:href="@{'/insegnante' + '/' + ${insegnante.id}}"
                   th:text="${insegnante.nome}"
                   th:text="${insegnante.cognome}"> </a>
                   <div><br><br></div>
               </li>
        </ul> -->
        <form th:action="@{/admin/prenotazione}" method="POST" th:object="${prenotazione}">
         <div>
               <li th:each="lezione : ${lezioni}">
                <a href="lezione.html" th:href="@{'/lezione' + '/' + ${lezione.id}}" th:text="${lezione.nome + lezione.durata}"> </a>
                	<span><button type="submit">PRENOTA</button></span>
                   <div><br><br></div>
               </li>
        </div>
        </form>
    	<div th:unless="${corso}">Non esiste</div>
    	<div th:if="${#authorization.expression('isAuthenticated()')}"> 
        <div>
            <form action="#" th:object="${corso}" th:action="@{/admin/modCorso/{id}(id=${corso.id})}" th:method="post">
            <input type="hidden" name="_method" value="update">
              <button type="submit" id="submitButton">Aggiorna i dati</button>
            </form>
             </div> 
            <br>
           <div><div th:if="${session.role}=='ADMIN'">
    		<a class="btn" th:href="@{'/admin/corso' + '/' + ${corso.id}}">elimina</a></div>
    	  </div>
             </div>
             <div th:unless="${#authorization.expression('isAuthenticated()')}"> </div>
     </div>
</body>
</html>