<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='SIW')"> </head>
<body>
	<div class="hero">
	<header th:replace="fragments/base.html :: intestazione"></header>
	</div>
	<div class="container2">
    	<div class="menu">
    		<h4 class="home-text" th:text="#{header.menuUtente}">Menu</h4>
			<div>
				<a class="link" href="corso" th:href="@{/corso}">Corsi</a>
			</div>
    		<div>
				<a class="link" href="Le mie prenotazioni" th:href="@{/prenotazione}">Elenco prenotazioni</a>
   			</div>
   			<div class="logout">
				<a th:href="@{/logout}">Logout</a>
   			</div>
   		</div>
	</div>
</body>
</html>