<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.insegnante})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
    	<h4  class="t1"></h4>
    	
    	<div class="t2" th:if="${insegnante}" th:object="${insegnante}">
			<span th:text="*{nome}">qui-va-nome</span>
			<span th:text="*{cognome}">qui-va-cognome</span>
			<span th:text="*{email}">qui-va-email</span>
   		</div>
   		<ul>
               <li th:each="lezione : ${insegnante.lezioni}">
                <a href="lezione.html" 
                   th:href="@{'/lezione' + '/' + ${lezione.id}}"
                  // ?? th:text="${lezione.titolo}"> </a>
                   <div><br><br></div>
               </li>
        </ul>
         <ul>
               <li th:each="corso : ${insegnante.corsi}">
                <a href="corso.html" 
                   th:href="@{'/corso' + '/' + ${corso.id}}"
                  // ?? th:text="${corso.nome}"> </a>
                   <div><br><br></div>
               </li>
        </ul>
    	<div th:unless="${insegnante}">Non esiste</div>
    	<div th:if="${#authorization.expression('isAuthenticated()')}"> 
        <div>
            <form action="#" th:object="${insegnante}" th:action="@{/admin/insegnante/{id}(id=${insegnante.id})}">
            <input type="hidden" name="_method" value="delete">
              <button type="submit" id="submitButton">Aggiorna i dati</button>
            </form>
             </div> 
            <br>
             <div>
            <form action="#" th:object="${insegnante}" th:action="@{/admin/deleteInsegnante/{id}(id=${insegnante.id})}" th:method="post" >
            <input type="hidden" name="_method" value="delete">
              <button type="submit" id="submitButton">Cancella</button>
            </form>
             </div>
             </div>
             <div th:unless="${#authorization.expression('isAuthenticated()')}"> </div>
     </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>