      <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/baseadmin.html :: headerfiles(title=#{pageTitle.lezione})"> </head>
<body>
	<div class="hero">
	<div th:if="${session.role}=='ADMIN'">
		<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	</div>
	<div th:unless="${session.role}=='ADMIN'">
		<header th:replace="fragments/base.html :: intestazione"></header>
	</div>
	</div>
    	<h4 class="t1"></h4>
    	
    	<div class="t2" th:if="${lezione}" th:object="${lezione}">
			<span th:text="*{durata}">qui-va-durata</span>
			<span th:text="*{data}">qui-va-data</span>
			<span th:text="*{orario}">qui-va-orario</span>
			<!-- <span th:text="*{insegnante}">qui-va-insegnante</span> -->
			<
			<span th:text="*{corso.nome}">qui-va-corso</span>
			<form th:action="@{/lezione/{id} (id=*{id})}" method="POST" th:object="${lezione}">
        		<div>
               <div th:if="${session.role}=='DEFAULT'">    <span><button type="submit">PRENOTA</button></span></div>
                  <div><br><br></div>
       	 		</div>
        	</form> 
   		</div>
   		

    	<div th:unless="${lezione}">Non esiste</div>
            <br>
          <div><div th:if="${session.role}=='ADMIN'">
    		<a class="btn" th:href="@{'/admin/lezione' + '/' + ${lezione.id}}">elimina</a></div>
    	  </div>
             </div>
             <div th:unless="${#authorization.expression('isAuthenticated()')}"> </div>
 
</body>
</html>