<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Esito registrazione')"> </head>
<body>
	<div class="hero">
	<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	</div>
	<div class="paginaRegistrazione">
    	<h4 class="home-text" th:text="#{header.registra}">Registrazione</h4>
		<h1>Un nuovo utente è stato registrato!</h1>
	</div>
    <footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</html>