<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{header.users})">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4 class="t1">Lista di utenti</h4>
		<ul>
			<li class="t5" th:each="user : ${users}"><a href="users.html"
				th:href="@{'/user' + '/' + ${user.id}}"
				th:text="|${user.nome} ${user.cognome}|">Paolo Rossi</a> <br>
				<div>
					<div th:if="${session.role}=='ADMIN'">
						<a class="btn" th:href="@{'/admin/user' + '/' + ${user.id}}">elimina</a>
					</div>
				</div></li>
		</ul>
	</div>
</body>
</html>
