<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{header.users})">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div class="container">
		<div class="myform">
			<div>
				<h4 class="t1">Inserisci i dati di un utente</h4>
			</div>
			<form th:action="@{/admin/user}" method="POST" th:object="${user}">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>
				<div>
					<div>
						<span>Nome:</span> <span><input type="text"
							th:field="*{nome}" /></span> <span th:if="${#fields.hasErrors('nome')}"
							th:errors="*{nome}"></span>
					</div>
					<div>
						<span>Cognome:</span> <span><input type="text"
							th:field="*{cognome}" /></span> <span
							th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
					</div>

					<div>
						<span><button type="submit">Invio</button></span>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>